<div class="point-info" *ngIf="point">
  <table class="table table-stripped">
    <tbody>
    <tr>
      <td>Displacement (mm)</td>
      <td>{{point?.cumulativeDisplacement}}</td>
    </tr>
    <tr>
      <td>Velocity (mm)</td>
      <td>{{point?.velocity}}</td>
    </tr>
    <tr>
      <td>Coherence (mm)</td>
      <td>{{point?.coherence}}</td>
    </tr>
    <tr>
      <td>Height (mm)</td>
      <td>{{point?.height}}</td>
    </tr>
    <tr>
      <td>Height Wrt (mm)</td>
      <td>{{point?.heightWrt}}</td>
    </tr>
    <tr>
      <td>Sigma height (mm)</td>
      <td>{{point?.sigmaHeight}}</td>
    </tr>
    <tr>
      <td>Sigma velocity (mm)</td>
      <td>{{point?.sigmaVelocity}}</td>
    </tr>
    </tbody>
  </table>
</div>
