
.points-controls {
  position: fixed;
  bottom: 0;
  padding-bottom:40px;
  overflow: hidden;
  width: 400px;
  padding-top:20px;
  background: #617f79;
  opacity: 0;
  transition: opacity 0.6s linear;
}
.points-control {
  padding-top: 10px;
  color: white;
  text-align: center;
  transition: opacity .7s linear;
  line-height: 30px;
  margin-bottom:10px;
  background: #356b62;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.points-control:hover { cursor: pointer; opacity: 0.6; }
.points-control .fa { color: white; }
.points-control.on { background: #5fc1b1; color: white; }
.points-control.on .fa { color: white; }
