
<div class="points-controls" id="controls-block" [style.opacity]="analysis ? '1' : '0'">
  <div class="row" style="margin: 0;">
    <div class="col-xs-6 col-sm-3">
      <div class="points-control"
           (click)="focusBridge()">
        <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
        FOOKUS
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="points-control"
           [class.on]="drawMode"
           (click)="toggleDrawMode()">
        <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
        JOONIS
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="points-control" (click)="dialogOpen = !dialogOpen">
        <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
        GRAAFIK
      </div>

    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="points-control" (click)="exportCsv()">
        <i class="fa fa-download fa-3x" aria-hidden="true"></i>
        CSV
      </div>
    </div>
  </div>
</div>

<app-points-line-graph [points]="drawMode ? filteredPoints : analysis?.points"
                       [label]="analysis?.label" [(open)]="dialogOpen"></app-points-line-graph>
