/* Sidebar toggle */
.sidebar-toggle {
  width: 60px;
  height: 30px;
  position: absolute;
  left: 0;
  padding: 5px;
  bottom:0;
  background: #617f79;
  color: white;
  transition: width .4s cubic-bezier(.25,.8,.25,1);
}

.sidebar-toggle.shown { width: 400px; }
.sidebar-toggle:hover { cursor:pointer !important; }
