<div class="sidebar-toggle"
     [class.shown]="sidebarOpen"
     (click)="toggleSidebar()">
  <i class="fa"
     [class.fa-angle-right]="!sidebarOpen"
     [class.fa-angle-left]="sidebarOpen"
     aria-hidden="true"></i>
  {{ sidebarOpen ? 'Peida' : 'Näita'}}
</div>
