<p-dialog header="{{ label }}"
          (onShow)="generateGraph()"
          [(visible)]="open"
          [height]="800"
          [width]="1200">
  <b>Legend: </b>displacement (mm), coherence (mm)<br>
  <p-chart type="line" [data]="data" [options]="options" [height]="150"></p-chart>
</p-dialog>
