.select-filter.ui-dropdown, .select-filter.ui-selectbutton {
  width: 100% !important;
  border-radius: 0 !important;
  border-top:0 !important;
}

.select-filter.selected-analysis.ui-dropdown {
  width: 250px !important;
  float: right;
}

.select-filter.ui-dropdown .ui-dropdown-label { padding: 20px;  }
.select-filter.ui-dropdown .ui-dropdown-trigger span { margin-top: 20px !important; }
.select-filter.ui-dropdown .ui-dropdown-trigger { border-radius:0 !important;}
.select-filter.ui-dropdown .ui-dropdown-filter-container { width: 100% !important; }

.select-filter.ui-selectbutton .ui-button.ui-widget {
  width: 50%;
  border:0;
  border-radius:0 !important;
  padding: 20px;
}

.select-filter.ui-selectbutton.ui-buttonset .ui-button.ui-state-active {
  background: rgb(53, 107, 98);
  color:white;
}

.select-filter .ui-state-highlight {
  background-color: #6e958f !important;
}

.select-filter {
  border: 0 !important;
  border-bottom:1px solid rgba(53, 107, 98, 0.17) !important;
}
