.selected-analysis-orbit {
  height: 55px;
  padding-top: 18px;
  text-align: center;
  color: #487971;
  width:120px;
}

.selected-analysis-orbit .angle {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.7s ease;
}
