<!-- Bridges filter -->
<p-dropdown [options]="filters.bridges"
            [filter]="true"
            placeholder="Vali sild"
            [(ngModel)]="filters.selectedBridge"
            (ngModelChange)="bridgeChange($event)"
            [styleClass]="'select-filter'"></p-dropdown>

<!-- Analysis filter -->
<p-dropdown [options]="filters.analysis"
            placeholder="Vali analüüs"
            [(ngModel)]="filters.selectedAnalysis"
            (ngModelChange)="analysisChange($event)"
            [styleClass]="'select-filter ' + (filters.selectedAnalysis ? 'selected-analysis' : '')">
  <ng-template let-analysis pTemplate="item">
    <div class="row" style="margin:0;">
      <div class="col-sm-8">
		  {{ analysis.value.label }}
	  </div>
      <div class="col-sm-4">
		  {{ analysis.value.orbit.number }} ({{ analysis.value.orbit.label }})
	  </div>
    </div>
  </ng-template>
</p-dropdown>
<div class="selected-analysis-orbit pull-left" [hidden]="!filters.selectedAnalysis">
  {{ filters.selectedAnalysis?.orbit.number }} ({{ filters.selectedAnalysis?.orbit.label }})
  <span class="angle" [style.transform]="'rotate(' + filters.selectedAnalysis?.orbit.angle + 'deg)'">|</span>
</div>

<!-- Legend filter -->
<p-selectButton
  [options]="filters.legends"
  [(ngModel)]="filters.selectedLegend"
  (ngModelChange)="legendChange($event)"
  [styleClass]="'select-filter'">
</p-selectButton>
