#geodisplacements-map { width:100%; height: 100%; }

.filters-sidebar { width: 400px; box-shadow: 0 0 20px rgba(0,0,0,0.3); background: rgba(95, 158, 160, 0.07);
  padding-bottom: 180px;}

.filters-area { margin-bottom: 20px; }

.filters-header {
  background: url("../../assets/bridgebg.jpg");
  opacity: 0.9;
  width: 100%;
  height: 250px;
}

.filters-header span {
  font-size: 30px;
  color: #ffffff;
  display: block;
  background: rgb(53, 107, 98);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.59);
  text-align: center;
}


.please-select-analysis, .please-select-point {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: large;
}
