<md-sidenav-container>

  <md-sidenav mode="side"
              [opened]="sidebarOpen"
              (close-start)="sidebarOpen = false"
              class="filters-sidebar">

    <!-- Sidebar content -->
    <div class="filters-header">
      <span>SILLE</span>
    </div>

    <app-filters-area class="filters-area"
                      [filters]="filters"
                      [msgs]="msgs"
                      (onReset)="selectedPoint = null">
    </app-filters-area>

    <div class="please-select-analysis"
         [hidden]="filters.selectedAnalysis != null">
      Vali sild ja analüüs
    </div>
    <div class="please-select-point"
         [hidden]="!filters.selectedAnalysis || selectedPoint != null">
      Vali punkt info kuvamiseks
    </div>

    <app-point-info [point]="selectedPoint"></app-point-info>

  </md-sidenav>

  <!-- Map content -->
  <div id="geodisplacements-map"></div>
  <app-points-legend [legend]="filters.selectedLegend" [msgs]="msgs"></app-points-legend>

</md-sidenav-container>
<app-points-tools [analysis]="filters.selectedAnalysis"
                  [msgs]="msgs"
                  (pointChange)="pointSelected($event)">
</app-points-tools>
<app-sidebar-toggle [(sidebarOpen)]="sidebarOpen"></app-sidebar-toggle>

<p-confirmDialog header="Kustutamine" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>


