/* You can add global styles to this file, and also import other style files */
@import '../node_modules/openlayers/css/ol.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/primeng/resources/themes/bootstrap/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html, body, md-sidenav-container, .app-content, main, map {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(35, 75, 66);
  z-index: -1;
}
/* .loading screen is visible when app is not bootstraped yet, geodisplacements-app is empty */
geodisplacements-app:empty + .loading {
  opacity: 1;
  z-index: 100;
}

.ol-control button {
  background: rgba(38, 97, 85, 0.87);
}

.ol-control button:hover {
  background: rgba(38, 97, 85, 0.6);
}
