<div class="points-legend" (mouseover)="mouseMove()">
  <div class="legend-gradient">
    <span class="legend-pointer"
          [style.margin-left]="(hoveredPoint ? hoveredPoint.getScalePercentage() * 200 : 0) + 'px'">
      <span>{{ hoveredPoint ? hoveredPoint[legend.value] : ''}}</span>
    </span>
    <span class="scale-value min">{{ legend.scaleMin }}</span>
    <span class="scale-value max">{{ legend.scaleMax }}</span>
  </div>

  <span class="text-center legend-label" appMouseWheel
        (mouseWheelUp)="increaseScale()"
        (mouseWheelDown)="decreaseScale()">
    <small class="pull-left">
        <button pButton
                type="button"
                (click)="decreaseScale()"
                icon="fa-minus"
                class="legend-button"></button>
    </small>
      {{ legend.label }} (mm)
    <small class="pull-right">
        <button pButton
                type="button"
                (click)="increaseScale()"
                icon="fa-plus"
                class="legend-button"></button>
    </small>
  </span>
</div>

<div id="point-popup" [hidden]="!hoveredPoint">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>Displacement (mm)</td>
      <td>{{ hoveredPoint?.cumulativeDisplacement }}</td>
    </tr>
    <tr>
      <td>Velocity (mm)</td>
      <td>{{ hoveredPoint?.velocity }}</td>
    </tr>
    </tbody>
  </table>
</div>
