.points-legend {
  width: 240px;
  padding: 20px;
  height: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: rgba(97, 127, 121, 0.81);
  color:white;
  border-top: 5px solid rgb(38, 97, 85);
  border-bottom: 5px solid rgb(38, 97, 85);
}

.points-legend .legend-label {
  width: 100%;
  display: block;
  font-size: small;
  padding-top: 10px;
}

.legend-gradient {
  background: linear-gradient(to left, hsl(255, 100%, 50%), hsl(191.25, 100%, 50%), hsl(127.5, 100%, 50%), hsl(63.75, 100%, 50%), hsl(0, 100%, 50%));
  width: 200px;
  margin: auto 0;
  height: 24px;
  padding-top: 2px;
}

.legend-gradient .scale-value { font-size: 14px; }
.legend-gradient .scale-value.min { float: left; padding-left: 5px; }
.legend-gradient .scale-value.max { float:right; padding-right: 5px; }

.legend-pointer {
  position:absolute;
  height: 30px;
  margin-top: -7px;
  background: rgba(97, 127, 121, 0.81);
  width: 2px;
  padding-top: -30px;
  color: white;
  font-weight: bold;
  transition: margin-left ease 0.5s, visibility ease 0.5s;
}

.legend-pointer span { margin-top: -15px; display: block; margin-left: -5px; }

.legend-button.ui-button { background: rgb(38, 97, 85); }
.legend-button.ui-button:enabled:hover { background: rgba(38, 97, 85, 0.7); }

#point-popup {
  width: 250px;
  height: 85px;

  background: rgba(38, 97, 85, 0.9);
  color: white;
  padding:5px;
  text-align: justify;
}
